$primary-color: #3498db;
$secondary-color: #000;
$bkcolor1:#9bba1f;
$bkcolor2:#f73f3f;
$bkcolor3:#ffa200;
$textcolor:#fff;

@import 'main';

.Schedule{
    img{
        width: 100%;
    }

    .row{
        display: flex;
    }
}

.top{
    background-image: url(../../image/gall5.jpg);
    width: 100%;
    height: 300px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &::before{
        content: "";
        background-color:rgba(30, 78, 174, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 100px;
        z-index: 111;

        h1{
            color: $bkcolor1;
            font-size: 90px;
            font-weight: 900;
            z-index: inherit;
        }
    }
}

.alumni{

    h5{
        padding-bottom: 25px;
    }
    .row{

        .coverr{
            overflow: hidden;
        }
            img{
                width: 100%;
                transition: transform .6s ease;

                &:hover{
                    transform: scale(1.07);
                }
                
            }
        }
}

.new{
        background-color: $bkcolor1;
        margin-right: 10px;
        color: $textcolor;

        .active{
            background-color: #f73f3f;
        }
}

// .nav-item{
//     .nav-link{
//         .active{
//             background-color: $bkcolor2;
//         }
//     }
    
// }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: $bkcolor3;
}
     
@media (max-width: 900px) {

    h1{
        font-size: 40px;
    }

    body{
        width: 100%;
    }
    .header{
        nav{
            
            ul{
                display: none;
            }

            .show {
                display: block;
                position: absolute;
                
                width: 100%;
                padding: 30px;
                background: black;
                font-size: xx-large;
                top: 169px ;
                right: 0;
                z-index: 999;

                li {
                    padding-bottom: 10px;
                  }
              }
        }
        .menu {
            display: block;
            font-size: 30px;
            color: #fff;
        }
    }
 
    
.holiday {
    img {
        width: 100%;
        height: 200px;
} 
}

}
